.ipynb*
.idea/*
static/*
tests/*
data/tcga
data/tcga.clinical.pkl
data/tcga.genomic.pkl
data/genes.csv
data/genes.oncopanel.csv
data/Final_gene_map_oncopanel.v1.txt
dev_data/*
elasticsearch/es_data/*
dump/*
*Dockerfile*
.dockerignore
**/.git
**/.gitignore
**/.gitattributes
